.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 920px;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
  margin-top: 9%;
}

.footer {
  margin: 50px auto;
  width: max-content;
  padding: 10px 30px;
  font-weight: 600;
  /* color: black;
  background: transparent; */
  color: white;
  background: black;

  transition: all 0.3s ease-in-out;

  font-size: 14pt;
  letter-spacing: -0.5px;
  /* border-radius: 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer > span {
  margin: 0 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer > span > svg {
  fill: white;
}

.footer:hover {
}

@media screen and (max-width: 480px) {
  .grid {
    /* flex-direction: column; */
    /* justify-content: center; */
    margin-top: 20%;
  }
}
