.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.image {
  width:auto;
  object-fit: contain;
  height: 80vh;
  visibility: visible;
  
}
.image.loading {
  visibility: hidden;
}



.icon {
  position: fixed;
  transform-origin: 50% 50%;
  transform: translateY(-50%);
  border: 2px solid #ccc0;
  color:#888;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  top: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  transition: all 0.2s ease-in-out;
}

.icon:hover {
  border-color: #888;
   
}
.previous {
  left: 10vw;
}

.next {
  left: calc(90vw - 50px);
}

.cross {
  left: calc(90vw - 50px);
  top:10vh;
  color:black;
  font-size: 15px;
  
}
.cross:hover {
  border-color: black;
}
.placeholder {
  height:80vh;
  width:30vw;
  background-color: #eee;


  position: fixed;
  
  
}