.photo {
  flex-basis: calc((100% / 5) ); /* 5 photos */
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}

.img {
  
  width: 100%;
  max-width: 150px;
  height: auto;
  max-height: 150px;
  object-fit: contain;
}
