.about_page.expanded {
    
    opacity:1;
    clip-path: circle(70.7% at 50% 50%);
    transition: all 0.5s ease-in-out;

    
}
.about_page{
    position: fixed;
    top: 0;
    left: 0;
    opacity:0;

    transition: all 0.3s ease-out;
    /* padding: auto 30%; */
    /* overflow: hidden; */
    /* padding: 0 70px; */
    z-index: 2;
    background-color: black;
    width: 100vw;
    height:100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    clip-path: circle(20% at 96% 4%);
    transform-origin: 50% 50%;
    transform: translate(0%,0%);
    color:white;
}
.self_intro{
    margin-top: 100px;
    flex: 1;
    margin-left:70px;
}
.self_intro>h1{
    font-size: 24px;
}
.self_intro>p {
    
    max-width: 400px;
}

.self_detail{
    flex: 1;
    margin-top: 100px;
}
ul{
    margin-left: 30px;
}
ul>li{
    list-style: none;
    align-items: center;
    display: flex;
    align-items: center;
}
.about_page p{
    font-size: 15px;
}

@media screen and (max-width: 480px) {
    .about_page{
        flex-direction: column;
    }
    .self_intro{
        width: 75%;
        margin-left: -20px;
    }
    .self_detail{
        width: 85%;
        margin-left: -90px;
    }
}
  