.nav {
  display: flex;
  position: static;
  left: 0;
  top:0;  
  flex-direction: row;
  justify-content: space-between;
  z-index: 5;
}

.item {
  color:#111;
  margin: 20px 70px;
  font-size: 14pt;
  font-weight: 600;
  cursor: pointer;
  letter-spacing: -0.8px;
}

.brand {
  

}

.about {

}