.nav {
  display: flex;
  position: fixed;
  width:100vw;
  left: 0;
  top:0;  
  flex-direction: row;
  justify-content: space-between;
  z-index: 5;
}

.item {
  color:#111;
  margin: 20px 70px;
  font-size: 14pt;
  font-weight: 600;
  cursor: pointer;
  letter-spacing: -0.8px;
  
  transition: all 0.5s ease-in-out;
}
.expanded {
  color:white;
}
.brand {
  

}

.about {

}


@media screen and (max-width:480px) {
  .item {
    margin:20px 20px;
  }
}