.nav {
  display: flex;
  position: static;
  left: 0;
  
  flex-direction: row;
  justify-content: space-between;

}

.item {
  color:#111;
  margin:30px 70px;
  font-size: 14pt;
  font-weight: 600;
  cursor: pointer;
}

.brand {
  

}

.about {

}