@font-face {
  font-family: 'Gilroy';
  src: url("./fonts/gilroy/Gilroy-Regular.otf");
  font-weight: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url("./fonts/gilroy/Gilroy-Medium.otf");
  font-weight: 600;
}
body {
  margin: 0;
  font-family: 'Gilroy',Arial, sans-serif;
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
